html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

section{
	z-index: 0;
}

body {
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

svg {
	fill:none;
	stroke:currentcolor;
	stroke-linecap:round;
	stroke-linejoin:round;
}

#star-space{
background: linear-gradient(#111, #206, #60a);
}
#star-field, #star-space,#star-lens{
	top: 0;
	left: 0;
	z-index: -2;
	width: 100%;
	height: 100%;
	position: fixed;
	$starDimension: 2px;
	.star {
		width: $starDimension;
		height: $starDimension;
		position: absolute;
		background: #fffa;
		box-shadow: 0 0 15px #eee;
		border-radius: 50%;

		&.far {
			animation: nearLoop 20s linear infinite; 
			width: $starDimension - 1;
			height: $starDimension - 1;
		}
		
		&.semistat{animation: nearLoop 30s linear infinite; }
		
		&.near {
			animation: nearLoop 40s linear infinite;
			width: $starDimension + 1;
			height: $starDimension + 1;
		}
	}
}

@keyframes nearLoop {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100vw, -100vh);
	}
}