//  BASELINE
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #fff;
	font-size: 16px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background: linear-gradient(#111, #206, #60a);
	background-attachment: fixed;
}

*::-webkit-scrollbar{ display: none; }

a,a:visited,a:hover{
	cursor: pointer;
	text-decoration: none;
	color: unset;
}

// BELLS & WHISTLES
.blur{
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
	-moz-backdrop-filter: blur(16px);
	background: #0006;
}

// ELEMENTS
.w-50{ width:50%; }
.w-66{ width:66.66%; }
.w-100{ width: 100%; }
.w-gen{
	--base:100%;
	--offset:0;
	width: calc(var(--base) - var(--offset));
}

.h-a{ height:auto; }
.h-100{ height: 100%; }
*[ht="30px"]{height: 30px}
*[ht="300px"]{height: 300px}

button, input{
	font-size:16px;
	border: 0;
	outline: none;
	color: #fff;
}

summary{outline:none;}
input::placeholder {color: #fff8;}
button{ cursor: pointer; }
p {line-height: 1.5em;}
svg {fill:none;stroke:currentcolor;stroke-linecap:round;stroke-linejoin:round;}

// TEXT
.tx-c{ text-align: center; }
.tx-j{ text-align: justify; }
.tx-l{ text-align: left; }

.aln-ct{align-items:center;}

.jtx-ar{justify-content:space-around;}
.jtx-bw{justify-content:space-between;}
.jtx-ct{justify-content:center;}
.jtx-ev{justify-content:space-evenly;}

.f-wt1{ font-weight: 100; }
.f-wt2{ font-weight: 200; }
.f-wt3{ font-weight: 300; }
.f-wt4{ font-weight: 400; }
.f-wt5{ font-weight: 500; }
.f-wt6{ font-weight: 600; }
.f-wt7{ font-weight: 700; }

// BOUNDING BOX
.po-abs{position: absolute;}
.po-fix{position: fixed;}
.po-rel{position: relative;}
.po-stx{position: sticky;position: -webkit-sticky;}

*[loc="bla"]{position:absolute;bottom: 0;left: 0;}

.p-0{ padding: 0; }
.p-5{ padding: 5px; }
.p-10{ padding: 10px; }
.p-20{ padding: 20px; }

.m-h-auto{ margin: 0 auto; }
.m-0{ margin: 0; }
.m-5{ margin: 5px; }
.m-7{ margin: 7px; }
.m-10{ margin: 10px; }
.m-20{ margin: 20px; }

.flex{display: flex;}
.f-wrap{display: flex;flex-wrap:wrap;}
.flex-col{display: flex;flex-direction: column;}

.rx-2{border-radius:2px;}
.rx-5{border-radius:5px;}
.rx-50{border-radius:50px;}
.rx-ha{border-radius:50%;}
.rx-max{border-radius:200px;}

.z-0{z-index: 0;}
.z-1{z-index: 1;}
.z-4{z-index: 4;}
.z-5{z-index: 5;}

// COLORS
.bg-cov{ background-size:cover !important; }
*[bg="222"]{background:#222;}
*[bg="000"]{background:#000;}
*[bg="0008"]{background:#0008;}
*[bg="nil"]{background:#0000;}
*[bg="nil-000"]{background: linear-gradient(to bottom, #0000, #000);}
*[bg="000-nil"]{background: linear-gradient(to top, #0000, #000);}
*[bg="e66-c26"]{ background: linear-gradient(135deg, #e66, #c26); }
*[bg="e6e-954"]{ background: linear-gradient(135deg, #e6e, #945); }
*[bg="b5e-83c"]{ background: linear-gradient(135deg, #b5e, #83c); }
*[bg="66e-37f"]{ background: linear-gradient(135deg, #66e, #37f); }
*[bg="69e-8ae"]{  background: linear-gradient(to right, #69e, #8ae); }

.o-0{opacity:0;}
.o-1{opacity:1;}
.display{display:block !important;}

// IMAGES
img{ object-fit: cover; }
img[size="min"]{width: 22px;height: 22px;}
img[size="ic"]{width: 25px;height: 25px;}
*[size="svg"]{width: 32px;height: 32px;}
img[size="ic-md"]{width: 66px;height: 66px;}
img[size="ic-lg"]{width: 100px;height: 100px;}
img[size="md"]{width: 150px;height: 150px;}
img[size="md-lg"]{width: 175px;height: 175px;}
*[size="lg"]{width: 300px;height: 300px;}
*[size="max"]{width: 400px;height: 400px;}