#button{
  width: 100px;
  text-align: center;
  border-radius: 10px;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  text-transform: capitalize;
}

* {
    border: 0;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #000;
  background: url('./bg.jpg');}

#universe {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url(img/Back.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }


#solar-system {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-animation-name: orbit;
  animation-name: orbit;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear; }

.orbit .orbit {
  -moz-animation-name: suborbit;
  animation-name: suborbit;
}

.pos {
  position: absolute;
  top: 50%;
  width: 2em;
  height: 2em;
  margin-top: -1em;
  margin-left: -1em;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-animation-name: invert;
  animation-name: invert;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear; }

#sun, .planet, #earth .moon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  border-radius: 50%;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.planet {
  background-color: #202020;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear; }

#venus {
  z-index: 9; }

#earth {
  z-index: 8; }

#moon {
  z-index: 7; }

#sun {
  z-index: 1; }

@keyframes orbit {
  0% {
    -moz-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }

  100% {
    -moz-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg); } }

@keyframes suborbit {
  0% {
    -moz-transform: rotateX(90deg) rotateZ(0deg);
    transform: rotateX(90deg) rotateZ(0deg); }

  100% {
    -moz-transform: rotateX(90deg) rotateZ(-360deg);
    transform: rotateX(90deg) rotateZ(-360deg); } }

@keyframes invert {
  0% {
    -moz-transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg); }

  100% {
    -moz-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); } }

.view-3D.zoom-large #sun, .view-3D.zoom-large .orbit  {
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.view-3D #solar-system {
  transform: rotateX(75deg); }

.view-3D #sun {
  transform: rotateX(-90deg); }

.view-3D .planet,
.view-3D .moon {
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg); }

.zoom-large #solar-system {
  width: 100%; }

.zoom-large.view-3D .scale-stretched #solar-system {
  font-size: 62%; }

.zoom-large.view-3D .scale-d #solar-system {
  font-size: 48%; }

.zoom-large.view-3D .scale-s #solar-system {
  font-size: 14%; }

// ! DONT DELETE USEFUL FOR BASE CONFIG
#venus .pos, #venus .planet,
#venus.orbit,#earth .pos,
#earth .planet,
#earth.orbit{
  animation-duration: 2s; }

#earth .orbit .pos,
#earth .orbit {
  animation-duration: 0.89764s; }

.scale-stretched #sun {
  font-size: 22em; }

.scale-stretched #venus .planet, .scale-stretched #earth .planet, .scale-stretched #earth .moon{font-size: 1em; }

// ! DONT DELETE USEFUL FOR BASE CONFIG
.scale-stretched #venus.orbit, .scale-stretched #earth.orbit,.scale-stretched #earth .orbit {
  width: 32em;
  height: 32em;
  margin-top: -16em;
  margin-left: -16em; }

.scale-stretched #earth .orbit {
  width: 6em;
  height: 6em;
  margin-top: -3em;
  margin-left: -3em; }

/* --------------------------------------------------------------------------- planets starting position and lighting effect */

/* --------------------------------------------------------------------------- venus ; pos: Left */
#venus .pos {
  left: 0;
  top: 50%; }

#venus .planet {
  -moz-animation-name: shadow-venus;
  animation-name: shadow-venus; }

@keyframes shadow-venus {
  0% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */ }

  25% {
    box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ }

  25.5% {
    box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ }

  50% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */ }

  75% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */ }

  100% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */ } }

.scaled.view-3D #venus .planet {
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  /* RIGHT */ }

/* --------------------------------------------------------------------------- earth ; pos: Right */
#earth .pos {
  left: 100%;
  top: 50%; }

#earth .planet {
  -moz-animation-name: shadow-earth;
  animation-name: shadow-earth; }

@keyframes shadow-earth {
  0% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */ }

  25% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */ }

  50% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */ }

  75% {
    box-shadow: inset 24px -20px 15px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ }

  75.01% {
    box-shadow: inset -24px -20px 15px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ }

  100% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */ } }

.scaled.view-3D #earth .planet {
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  /* RIGHT */ }

/* --------------------------------------------------------------------------- moon */
#earth .orbit .pos {
  left: 100%;
  top: 50%; }

/* --------------------------------------------------------------------------- navigation styles */
.venus #venus.orbit,
.earth #earth.orbit {
  border: 1px solid rgba(255, 255, 255, 0.8); }

h1 {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8); }

h1 span, #sedscelestia h1 a {
  display: inline;
  position: relative;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5); }

#sedscelestia, #data {
  background: rgba(0, 0, 0, 0.4); }

#sedscelestia {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  width: 50%;
  height: 48px;
  margin-left: 25%;
}

#sedscelestia a, #data a{
  color: rgba(255, 255, 255, 0.6);
  display: block;
  position: relative;
  text-decoration: none; }

#sedscelestia a:hover, #data a:hover{
  color: #FFF; }

#data a.active {
  color: #0CF; }

#sedscelestia a {
  position: absolute;
  top: 0;
  height: 48px;
  padding: 16px;
  font-size: 14px; }

#data{
  z-index: 999999;
  position: fixed;
  opacity: 1;
  top: 49px;
  padding: 16px; }

#data a {
  margin-bottom: 1px;
  padding: 6px 10px;
  font-size: 18px; }

/* --------------------------------------------------------------------------- transitions */
.pos {
  transition-property: top, left; }

#solar-system, .orbit,
.planet,
.satelite{
  transition-property: width, height, top, left, margin-left, margin-top, -webkit-transform, -moz-transform; }

#sun, .icon {
  transition-property: width, height, -webkit-transform; }

#solar-system,
#sun,
.orbit,
.pos,
.planet,
.satelite,
.icon {
  transition-duration: .8s;
  transition-timing-function: ease-in-out; }

#solar-system,
#sun,
.planet,
.satelite{
  transition-delay: 0s; }

.pos {
  transition-delay: 1s; }

h1, #data{
  transition-property: opacity, margin;
  transition-duration: .8s;
  transition-timing-function: ease-in-out; }

h1 {
  transition-delay: .35s; }

#data {
  transition-delay: .7s; }
/* --------------------------------------------------------------------------- images */

#sun {
    background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 60px rgba(255, 160, 60, 0.4);
  background-image: url(img/Sun.jpg);}

#venus .planet {
  background-image: url(img/Venus.jpg); }

#earth .planet {
  background-image: url(img/Earth.jpg); }

#earth .moon {
  background-color: white; }

/* --------------------------------------------------------------------------- responsive styles */
@media screen and (max-width: 299px) {
  #universe {
    font-size: 20%; } }
@media screen and (min-width: 300px) {
  #universe {
    font-size: 24%; } }
@media screen and (min-width: 500px) {
  #universe {
    font-size: 36%; } }
@media screen and (min-width: 600px) {
  #universe {
    font-size: 44%; } }
@media screen and (min-width: 760px) {
  #universe {
    font-size: 58%; } }
@media screen and (min-width: 1000px) {
  #universe {
    font-size: 73%; }
  }

  #sedscelestia, #data {
    background: transparent; }

  h1 {
    font-size: 22px;
    margin-top: 8px; }

  #data {
    position: fixed;
    top: inherit;
    bottom: 0;
    width: 10%;
    text-align: center; }

  #data a {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 15px 15px; }

  .data-open #data, .data-close #data {
    left: 0px; }
@media screen and (min-width: 1300px) {
  #universe {
    font-size: 100%; } }
@media screen and (min-width: 1600px) {
  .zoom-close .scale-d #solar-system {
    margin-left: -120%; } }