.controller{
    position: fixed;
    top: 6px;
    right: 10px;
    z-index: 12;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

.controller td{
    padding: 5px;
    margin: 5px;
}

.controller input{
    outline: 0;
    background: #888;
    border-radius: 5px;
    height: 5px;
    -webkit-appearance: none;
    width: 200px;
}

.controller input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.disclaimer{
    position: fixed;
    top: 6px;
    left: 10px;
    z-index: 12;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}