html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
*::-webkit-scrollbar{ display: none; }

a,a:visited,a:hover{
	text-decoration: none;
	color: unset;
}

section,.part{ z-index: 0; }

body {
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background: linear-gradient(#111, #206, #60a);
	background-attachment: fixed;
}

button, input{
	font-size:1rem;
	border: 0;
	outline: none;
	color: #fff;
}

summary{outline:none;}

button{ cursor: pointer; }

svg {
	fill:none;
	stroke:currentcolor;
	stroke-linecap:round;
	stroke-linejoin:round;
}
img{ object-fit: cover; }

.boxicon{
	width: 25px;
	height: 25px;
	object-fit: contain;
}


#star-field, #star-space{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	width: 100%;
	height: 100%;
}

#star-space{
	animation: nearLoop 20s linear infinite;
}
#star-field{
	animation: nearLoop 32.360679775s linear infinite;
}

@keyframes nearLoop {
	0% { transform: translate(50vw, 50vh); }
	100% { transform: translate(-50vw, -50vh); }
}

.l1 {
	font-size: 1rem;
	justify-content: space-between;
	text-transform: uppercase;
	color: #fff;
	svg {
		width: 1.5em;
		height: 1.5em;
		fill: #fff;
	}
}

.btn-std {
	border: 3px solid #a8f;
	color: #a8f;
	background: transparent;
	width: 200px;
	height: 2em;
	font-size: 24px;
	text-transform: uppercase;
	&:hover {
		background: #a8f;
		color: #fff;
	}
}


.blur{
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
	-moz-backdrop-filter: blur(16px);
	background: rgba($color: #000000, $alpha: 0.4);
}

.flex{display: flex;}
.f-wrap{flex-wrap:wrap;}
.flex-col{display: flex;flex-direction: column;}

.w-50{ width:50%; }
.w-66{ width:66.66%; }
.w-100{ width: 100%; }

.h-a{ height:auto; }
.h-100{ height: 100%; }

.p-0{ padding: 0; }
.p-5px{ padding: 5px; }
.p-10px{ padding: 10px; }
.p-20px{ padding: 20px; }

.m-h-auto{ margin: 0 auto; }
.m-0{ margin: 0; }
.m-5px{ margin: 5px; }
.m-10px{ margin: 10px; }
.m-20px{ margin: 20px; }

.tx-c{ text-align: center; }
.tx-j{ text-align: justify; }
.tx-l{ text-align: left; }

.f-wt1{ font-weight: 100; }
.f-wt2{ font-weight: 200; }
.f-wt3{ font-weight: 300; }
.f-wt4{ font-weight: 400; }
.f-wt5{ font-weight: 500; }
.f-wt6{ font-weight: 600; }
.f-wt7{ font-weight: 700; }

:root {
	--blue: #1e90ff;
	--white: #ffffff;
  }

.bg-cov{ background-size:cover !important; }
.bg-e6e-954{ background: linear-gradient(135deg, #e6e, #945); }
.bg-66e-37f{ background: linear-gradient(135deg, #66e, #37f); }
.bg-e66-c26{ background: linear-gradient(135deg, #e66, #c26); }
.bg-b5e-83c{ background: linear-gradient(135deg, #b5e, #83c); }

.adaptive {
	padding: 4% 30%;
}

@media (max-width: 1200px) {
	.adaptive {
		padding: 4% 25%;
	}
}
@media (max-width: 991px) {
	.adaptive {
		padding: 4% 20%;
	}
}
@media (max-width: 768px) {
	.adaptive {
		padding: 4% 10%;
	}
}
@media (max-width: 450px) {
	.adaptive {
		padding: 4%;
	}
}