name: Deploy to GitHub pages

on:
 push:
    branches:
      - main
 pull_request:
    branches:
      - main
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master

      - name: Setup Node.js 14.x
        uses: actions/setup-node@master
        with:
          node-version: 14.x

      - run: npm install -g pnpm gh-pages
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - run: npx gh-pages -d build -t true
